*.pyc
.sass-cache/
.idea/
django_thorbanks.egg-info
build/
dist/

venv/
venv3.4/

thorbanks/migrations/
example/certs/
example/settings/local.py
example/db.sqlite3
example/assets/
example/media/

.coverage
cover/
