# see https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-xvfb-to-run-tests-that-require-a-gui
dist: bionic
services:
  - xvfb

language: python

before_install:
  - mkdir geckodriver
  - wget -O - https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz | tar zxvf - -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver

install:
  - curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
  - source $HOME/.poetry/env
  - poetry config virtualenvs.create false
  - poetry check && poetry install

script:
  - tox

jobs:
  include:
    - python: "3.6"
      env:
        - TOXENV=py36-django11

    - python: "3.6"
      env:
        - TOXENV=py36-django20

    - python: "3.6"
      env:
        - TOXENV=py36-django21

    - python: "3.6"
      env:
        - TOXENV=py36-django22

    - python: "3.6"
      env:
        - TOXENV=py36-django30

    - python: "3.7"
      env:
        - TOXENV=py37-django11

    - python: "3.7"
      env:
        - TOXENV=py37-django20

    - python: "3.7"
      env:
        - TOXENV=py37-django21

    - python: "3.7"
      env:
        - TOXENV=py37-django22

    - python: "3.7"
      env:
        - TOXENV=py37-django30

    - python: "3.8"
      env:
        - TOXENV=py38-django11

    - python: "3.8"
      env:
        - TOXENV=py38-django20

    - python: "3.8"
      env:
        - TOXENV=py38-django21

    - python: "3.8"
      env:
        - TOXENV=py38-django22

    - python: "3.8"
      env:
        - TOXENV=py38-django30

after_success:
  - test $TOXENV = "py37-django30" && coveralls

env:
  global:
    secure: >
      UPjRJ4zzxi4jzCFAL3ADQuOJq5jJmeUzEa0JslKboGlAcPd/l5FwtmyQIsAmEHGsGrWXUqOojCccgcur/5vWv5PElzWt3GX
      6W7RUS9Bo58teLwzsaPVSzXqNFNmJUMpahCzAIFs2IcjQRClz+1MA9iQllA/Go0rPhV13NwaZXrwz2g1KIpAWcy7+NVwoOc
      f5ZNHXZ1Fr6CzeAXGmZAxbSCGFIo1nwgZDJazvzG8nY0dRcDAfFKNCn+DQrzQjLOWZ3fOF8m+V/QnXpY6I7Nz9NBN5xUFoD
      xFbQtkFQ3+QHJzAxDFz7GswZErSj+KlIPyhhjxdH+Oc77EHJWNEue9TuEqiPuelx933JhEwr8KxwRYzQYJozMorIOPlDUdi
      dQEdORTBVfV5BK9GN45WSPMr8BAmZrHJbpFu2bOnmaPYNdQKcGgtR4FrsREWKHMVBpyeRt1QqIckDqKg0Oiv9VavoUHgsbi
      L2kajJXu4JzY7B27PfCCZGTyYPI0x4Qfza7K4PSft0thdwXK4/4LZCi5F2/wIiGRsXmkZC1B8svSWiXeHc2Av1Rc4RHBxWW
      WV1KJdZOlYOH3pi15+yrGBb482YbHdVRT87Qkk26fyKpqwiiUVVI1WnmQKOtfomaO+1rSUMsaMQtoNBaLv0k9ljzcjaYKGv
      MSW1ItoMq32Y7Z3wWc=

# See https://github.com/python-poetry/poetry/issues/366
before_deploy:
  - export POETRY_PYPI_TOKEN_PYPI=$PYPI_TOKEN

deploy:
  provider: script
  script: poetry publish --build
  skip_cleanup: true
  on:
    repo: thorgate/django-thorbanks
    tags: true
    python: "3.7"
    condition: "$TOXENV = py37-django30"

notifications:
  email: false
