# Development needs the following packages

pytest==5.3.4
coverage==4.2
coveralls==1.1
pytest-cov==2.5.1
pytest-django==3.8.0
pytest-timeout==1.3.4
flake8==3.4.1
flake8-future-import==0.4.3
mock>=1.0.1
tox>=1.7.0
pytest-selenium==1.17.0
selenium==3.6.0
